<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="cartMapper">
	<resultMap type="com.kh.shop.vo.CartVO" id="cart">
		<id column="CART_NUM" 			property="cartNum"/>
		<result column="ITEM_CODE" 		property="itemCode"/>
		<result column="MEM_ID" 		property="memId"/>
		<result column="ITEM_CNT" 		property="itemCnt"/>
		<result column="CREATE_DATE" 	property="createDate"/>
	</resultMap>
	
	<resultMap type="com.kh.shop.vo.CartViewVO" id="cartView">
		<id column="CART_NUM" 				property="cartNum"/>
		<result column="ITEM_CODE" 			property="itemCode"/>
		<result column="ITEM_NAME" 			property="itemName"/>
		<result column="ITEM_PRICE" 		property="itemPrice"/>
		<result column="TOTAL_PRICE" 		property="totalPrice"/>
		<result column="ITEM_CNT" 			property="itemCnt"/>
		<result column="CREATE_DATE" 		property="createDate"/>
		<result column="MEM_ID" 			property="memId"/>
		<result column="ATTACHED_IMG_NAME" 	property="attachedImgName"/>
	</resultMap>

	<insert id="insertCart">
		MERGE INTO SHOP_CART
		USING DUAL
		ON (ITEM_CODE = #{itemCode} AND MEM_ID = #{memId})
		WHEN MATCHED THEN
			UPDATE
			SET
			ITEM_CNT = ITEM_CNT + #{itemCnt}
			WHERE MEM_ID = #{memId}
		WHEN NOT MATCHED THEN
			INSERT (
				CART_NUM
				, ITEM_CODE
				, MEM_ID
				, ITEM_CNT
			) VALUES (
				(SELECT NVL(MAX(CART_NUM), 0) + 1 FROM SHOP_CART)
				, #{itemCode}
				, #{memId}
				, #{itemCnt}
			)
	</insert>
	
	<select id="selectCartList" resultMap="cartView">
		SELECT CART_NUM
			, ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, TOTAL_PRICE
			, ITEM_CNT
			, CREATE_DATE
			, MEM_ID
			, ATTACHED_IMG_NAME
		FROM CART_VIEW
		WHERE MEM_ID = #{memId}
		ORDER BY CART_NUM DESC
	</select>
	
	<delete id="deleteCart">
		DELETE SHOP_CART
		WHERE ITEM_CODE = #{itemCode}
		AND MEM_ID = #{memId}
	</delete>
	
	<update id="updateItemCnt">
		UPDATE SHOP_CART
		SET
		ITEM_CNT = #{itemCnt}
		WHERE MEM_ID = #{memId}
		AND ITEM_CODE = #{itemCode}
	</update>
	
	<delete id="deleteCarts">
		DELETE SHOP_CART    
		WHERE MEM_ID = #{memId}
		AND ITEM_CODE IN   
		<foreach collection="itemCodeArr" item="itemCode" open="(" close=")" separator=",">
			#{itemCode}      
		</foreach> 
	</delete>
	
</mapper>





























