<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="itemMapper">
	<resultMap type="com.kh.shop.vo.CategoryVO" id="category">
		<id column="CATE_CODE" 		property="cateCode"/>
		<result column="CATE_NAME" 	property="cateName"/>
	</resultMap>
	
	<resultMap type="com.kh.shop.vo.ItemVO" id="item">
		<id column="ITEM_CODE" 				property="itemCode"/>
		<result column="ITEM_NAME" 			property="itemName"/>
		<result column="ITEM_PRICE" 		property="itemPrice"/>
		<result column="ITEM_DETAIL" 		property="itemDetail"/>
		<result column="ITEM_STOCK" 		property="itemStock"/>
		<result column="CATE_CODE" 			property="cateCode"/>
		<result column="ATTACHED_IMG_NAME" 		property="attachedImgName"/>
	</resultMap>

	<resultMap type="com.kh.shop.vo.ItemVO" id="item2">
		<id column="ITEM_CODE" 				property="itemCode"/>
		<result column="ITEM_NAME" 			property="itemName"/>
		<result column="ITEM_PRICE" 		property="itemPrice"/>
		<result column="ITEM_DETAIL" 		property="itemDetail"/>
		<result column="ITEM_STOCK" 		property="itemStock"/>
		<result column="CATE_CODE" 			property="cateCode"/>
		<collection property="imgList" resultMap="img" />
	</resultMap>
	
	<resultMap type="com.kh.shop.vo.ImgVO" id="img">
		<id column="IMG_CODE" 				property="imgCode"/>
		<result column="ORIGIN_IMG_NAME" 	property="originImgName"/>
		<result column="ATTACHED_IMG_NAME" 	property="attachedImgName"/>
		<result column="IS_MAIN" 			property="isMain"/>
		<result column="ITEM_CODE" 			property="itemCode"/>
	</resultMap>
	
	<select id="selectCategoryList" resultMap="category">
		SELECT CATE_CODE
			, CATE_NAME
		FROM ITEM_CATEGORY
	</select>
	
	<!-- 상품 목록 조회 쿼리 -->
	<select id="selectItemList" resultMap="item">
		SELECT ITEM.ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, ATTACHED_IMG_NAME
		FROM SHOP_ITEM ITEM, ITEM_IMAGE IMG
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		AND IS_MAIN = 'Y' 
		ORDER BY ITEM.ITEM_CODE DESC 
	</select>
	
	<select id="selectItemDetail" resultMap="item2">
		SELECT ITEM.ITEM_CODE 
		    ,ITEM_NAME
		    , ITEM_PRICE
		    , ITEM_DETAIL
		    , ATTACHED_IMG_NAME
		    , IS_MAIN
		FROM SHOP_ITEM ITEM, ITEM_IMAGE IMG
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		AND ITEM.ITEM_CODE = #{itemCode}
	</select>
	
	
</mapper>

















