<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	<resultMap type="com.kh.shop.vo.MemberVO" id="member">
		<id column="MEM_ID" 		property="memId"/>
		<result column="MEM_PW" 	property="memPw"/>
		<result column="MEM_NAME" 	property="memName"/>
		<result column="MEM_TELL" 	property="memTell"/>
		<result column="MEM_EMAIL" 	property="memEmail"/>
		<result column="MEM_ADDR" 	property="memAddr"/>
		<result column="IS_ADMIN" 	property="isAdmin"/>
		<result column="JOIN_DATE" 	property="joinDate"/>
	</resultMap>
	
	<insert id="join">
		INSERT INTO SHOP_MEMBER (
			MEM_ID
			, MEM_PW
			, MEM_NAME
			, MEM_TELL        
			, MEM_EMAIL
			, MEM_ADDR
		) VALUES (
			#{memId}
			, #{memPw}
			, #{memName}
			, #{memTell} 
			, #{memEmail}
			, #{memAddr}
		)
	</insert>
	
	<select id="login" resultMap="member">
		SELECT MEM_ID
			, MEM_NAME
			, IS_ADMIN
		FROM SHOP_MEMBER
		WHERE MEM_ID = #{memId}
		AND MEM_PW = #{memPw}
	</select>
	
	<select id="selectMemEmail" resultType="String">
		SELECT MEM_EMAIL
		FROM SHOP_MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
</mapper>












